body{
   
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(255, 255, 255);
}


form , input{

    margin: auto;
    text-align: center;
    border-radius: 8px;
    width: 80%;  
    height: 35%; 
    
}

input{

    border: 1px solid rgb(133, 132, 131);
    
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}


.btn, btn-primary{

    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
}


.logologin{

    text-align: center;
    border: 0px solid black;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    height: 490px;
    width: 60%;
    
}

.logologin, img{
    margin: auto;
    padding: 15px;
    
}


@media(max-width: 800px){

    .logologin{

    text-align: center;
    border: 0px solid black;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: 100%;
    }

    form , input{

        margin: auto;
        text-align: center;
        border-radius: 10px;
        width: 100%;  
        height: 35%; 
        
    }
    
    .btn, btn-primary{

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
       width: 300px; 
    }
    
    
}
