<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>Register client</title>

	<link rel="stylesheet" type="text/css" href="/css/css_template/vendors.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/css_template/barbershop.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/css_template/application.css"/> 
	
	
</head>
<body>

<div class="aw-layout-loading  js-loading-overlay">
	<div class="aw-layout-loading__container">
		<span class="aw-balls-spinner">Loading...</span>
	</div>
</div>

<div class="aw-layout-page">

	<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar">
	  <div class="container-fluid">

	    <div class="navbar-header">
	      <a class="navbar-brand  hidden-xs" href="#">
	        <a href="/"><img src="/images/login_images/homelogin.png" style="width: 35px; margin-top: 4px;"></a>
	      
	      </a>

	        <ul class="nav  navbar-nav">
	        <li>
	          <a href="#" class="js-sidebar-toggle">
	          <img alt="" src="/images/index_images/icon_menu.png"></a>
	        </li>
	      </ul>
	    </div>

	    

	  </div>
	</nav>

	<aside class="aw-layout-sidebar  js-sidebar">
		<div class="aw-layout-sidebar__content">

    <nav class="aw-menu  js-menu">
      <ul class="aw-menu__list">

        


      
      </ul>
    </nav>

		</div>
	</aside>

	<section class="aw-layout-content  js-content">


<div class="page-header">
	<div class="container-fluid">
		<h1>
			User registration
		</h1>
	</div>
</div>

<!-- ######################### Bellow form Fields #################################### -->

<div class="container-fluid">

      <form method="post" th:object="${user}" th:action="@{/registerUser/save}" 
	         class="form-vertical  js-form-loading" enctype="multipart/form-data">
	
     <!-- ------------------------------------------------------------------------------ -->    
		
<div class="row">
		
	  <div class="col-sm-3">
		  <div class="form-group">
		
			   <label for="photo">Photo</label>
			   <input type="file" id="photo" name="file" class="form-control"/>
			
		    </div>
	    </div>
	    
<div class="col-sm-12"></div>
		
		<!-- --------------------------------------------------------------------------- -->
		
		
		
 <div class="col-sm-6">
	 <div class="form-group">
		
			<label for="fullName">Full name</label>
			<input id="fullName" name="fullName" placeholder="Full name" th:field="*{fullName}"  type="text" class="form-control"/>
			
		</div>
	</div>
<div class="col-sm-12"></div>

        <!-- ---------------------------------------------------------------------------- -->
		
		
  <div class="col-sm-3">
	   <div class="form-group">
		
		   <label for="age">Date of birth</label>
		    <input id="age" name="age" placeholder="Date of birth" th:field="*{age}" type="date" class="form-control"/>
			
		</div>
  </div>
		
	    <!-- ------------------------------------------------------------------------------- -->
		
		
	<div class="col-sm-3">
		<div class="form-group">
		
			<label for="phone">Phone number</label>
			<input id="phone" name="phone" placeholder="Phone number" th:field="*{phone}" type="text" class="form-control"/>
			
		</div>
	</div>
	
	  
	    <!-- --------------------------------------------------------------------------------- -->
		
		<div class="col-sm-8"></div>
		   
		    <div class="col-sm-6">
		      
		         <div class="form-group">
		
			          <label for="email">Email</label>
			          <input id="email" name="email" placeholder="email" th:field="*{email}" type="text" class="form-control"/>
			
		          </div>
		   </div>
		   
		   
		   <!-- ------------------------------------------------------------------------------- -->
		
		<div class="col-sm-8"></div>
		
		      <div class="col-sm-6">
		         
		          <div class="form-group">
		
			           <label for="password">Password</label>
			           <input id="password" name="password" placeholder="password" th:field="*{password}" type="password" class="form-control"/>
			
		         </div>
		</div>
		<div class="col-sm-12"></div>
		</div>
		
		<!-- ---------------------------------------------------------------------------------- -->
		
		
		
		<div class="form-group">
			 <button class="btn  btn-primary" type="submit">Save</button>
			    <input type="reset" value="Cancel" class="btn  btn-default">
		  </div>
		  
	  </form>
</div>

<!-- ############################### The end of the form ######################################## -->


	</section>
	
	<footer class="aw-layout-footer  js-content">
		<div class="container-fluid">
			<span class="aw-footer-disclaimer">&copy; 2020 Barbershop. All rights reserved</span>
		</div>
	</footer>

</div>



<script src="/javascripts/vendors.min.js"></script>
<script src="/javascripts/barbershop.min.js"></script>


</body>
</html>